## Step 1: Import Libraries and Load Data
We start by importing pandas and loading the dataset from a CSV file.  
We also define the column (`Booking ID`) that we want to check for duplicates.

In [6]:
import pandas as pd

url = r"https://raw.githubusercontent.com/edwardpy-data/Data-Analysis/490c299a38557a999f01aa0e3046daa0fe608154/ncr_ride_bookings.csv" #provide the url to the csv file
column = "Booking ID" #provide the column to check

df = pd.read_csv(path)  #read the csv file
#print the first 5 rows
df.head(5)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

## Step 2: Validate Column Existence
Before proceeding, we make sure that the column we specified (`Booking ID`) actually exists in the dataset.  
If not, we raise an error.

In [2]:
if column not in df.columns:
    raise KeyError(column)
else:
    print("The column is available")

The column is available

## Step 3: Count Total Duplicate Entries
We check how many duplicate values exist in the chosen column.  
If none are found, we stop the process; otherwise, we display the count.

In [3]:
duplicates_sum = df[column].duplicated().sum()

if duplicates_sum:
    print(f"The column contains the following number of duplicates: {duplicates_sum}")
else:
    raise ValueError(f"No duplicates found in column '{column}'. Exiting.")

The column contains the following number of duplicates: 1233

## Step 4: Get Frequency of Duplicate Values
We count how many times each value in the chosen column is repeated.  
Then, we filter to keep only those values that occur more than once.

In [4]:
duplicates_count = df[column].value_counts()
#filter where count is more than 1 using masking
duplicates_count = duplicates_count[duplicates_count > 1]
print(duplicates_count[:5])

Booking ID
"CNR7908610"    3
"CNR9603232"    3
"CNR7199036"    3
"CNR6337479"    3
"CNR5292943"    3
Name: count, dtype: int64

## Step 5: Extract Duplicate Rows
Finally, we extract all rows where the chosen column has duplicate values.  
We also sort them by the column to make patterns easier to spot.

In [5]:
duplicates_row = df[df.duplicated(subset = column, keep = False)]
#sort them by column value
duplicates_row = duplicates_row.sort_values(by = column)
#print the first 10 duplicates
print(duplicates_row.head(10))

              Date      Time    Booking ID         Booking Status  \
81334   2024-10-15  18:17:23  "CNR1026036"              Completed
9192    2024-07-21  17:59:41  "CNR1026036"        No Driver Found
9587    2024-12-17  19:19:02  "CNR1029172"              Completed
1353    2024-01-19  17:00:57  "CNR1029172"             Incomplete
82029   2024-11-05  16:50:20  "CNR1051228"              Completed
110412  2024-01-31  08:42:04  "CNR1051228"              Completed
87333   2024-04-20  23:16:21  "CNR1056023"              Completed
120008  2024-07-07  17:18:49  "CNR1056023"             Incomplete
71570   2024-02-12  19:02:47  "CNR1058956"  Cancelled by Customer
38548   2024-10-15  13:33:55  "CNR1058956"              Completed

         Customer ID   Vehicle Type   Pickup Location Drop Location  Avg VTAT  \
81334   "CID6480133"        Go Mini           Khandsa   Ashok Vihar       3.8
9192    "CID6974869"        Go Mini         Seelampur   Nehru Place       NaN
9587    "CID6382731"           Auto          Inderlok   Laxmi Nagar       6.9
1353    "CID2615731"           Bike           Jhilmil   Narsinghpur       4.7
82029   "CID3177617"           Auto  Dwarka Sector 21   Nehru Place       8.5
110412  "CID5242056"  Premier Sedan         Arjangarh   Yamuna Bank      14.2
87333   "CID9367665"  Premier Sedan        Badshahpur     Sultanpur       7.1
120008  "CID4890470"       Go Sedan            Meerut   Tilak Nagar       6.6
71570   "CID2451799"  Premier Sedan       Patel Chowk     Kaushambi      19.9
38548   "CID1882606"        Go Mini        Badshahpur       MG Road       3.7

        Avg CTAT  ...  Reason for cancelling by Customer  \
81334       43.3  ...                                NaN
9192         NaN  ...                                NaN
9587        34.4  ...                                NaN
1353        26.7  ...                                NaN
82029       24.8  ...                                NaN
110412      25.4  ...                                NaN
87333       25.7  ...                                NaN
120008      24.2  ...                                NaN
71570        NaN  ...                      Wrong Address
38548       20.2  ...                                NaN

       Cancelled Rides by Driver  Driver Cancellation Reason Incomplete Rides  \
81334                        NaN                         NaN              NaN
9192                         NaN                         NaN              NaN
9587                         NaN                         NaN              NaN
1353                         NaN                         NaN              1.0
82029                        NaN                         NaN              NaN
110412                       NaN                         NaN              NaN
87333                        NaN                         NaN              NaN
120008                       NaN                         NaN              1.0
71570                        NaN                         NaN              NaN
38548                        NaN                         NaN              NaN

        Incomplete Rides Reason Booking Value  Ride Distance  Driver Ratings  \
81334                       NaN         102.0          36.51             4.9
9192                        NaN           NaN            NaN             NaN
9587                        NaN         332.0          36.38             4.3
1353            Customer Demand         429.0          16.16             NaN
82029                       NaN         246.0           4.80             4.6
110412                      NaN         930.0          13.06             3.4
87333                       NaN         116.0          46.54             3.8
120008          Customer Demand         420.0           5.13             NaN
71570                       NaN           NaN            NaN             NaN
38548                       NaN         194.0          24.65             4.3

        Customer Rating  Payment Method
81334               4.2             UPI
9192                NaN             NaN
9587                4.3             UPI
1353                NaN             UPI
82029               4.5             UPI
110412              4.2            Cash
87333               5.0     Credit Card
120008              NaN     Uber Wallet
71570               NaN             NaN
38548               4.3            Cash

[10 rows x 21 columns]